@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Kreon:wght@300..700&family=Kumbh+Sans:wght@100..900&display=swap');

/*Creating styles for basic elements*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, nav {
    font-family: "Koulen", sans-serif;
}

h1 {
    margin-left: 30px;
    height: 10px;
}

h2 {
    text-align: center;
    font-size: 300%;
}

p {
    font-family: "Kumbh Sans", sans-serif;
}
/*Styles for the header and navigation portion of the page*/
header {
    background: #5F6758;
}

nav {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    top: 5%;

}

nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

nav li {
    padding-left: 15px;
    font-size: 160%;
    
}

/* Nav Toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    position: absolute;
    right: 2.5%;
}

a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
}

/*Styles for the home section*/

#home {
    background: #5F6758;
    display: flex;
    flex-direction: column;
}

#home p {
    color: white;
}

.hidden-heading {
    display: none;
}
.image {
    margin: 35px;
    margin-top: 10%;
    display: inline-block;
    vertical-align: middle;

}

.image img {
    height: 90%;
    width: 100%;
}

.text {
    text-align: center;
    margin: 45px;
    word-wrap: break-word;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

/*Styles for the about section*/
#about {
    background: #EADBC4;
}


.about-club {
    width: 50%;
    margin-left: 10%;
    margin-right: 2.5%;
}

.about li{
    font-family: "Kumbh Sans", sans-serif;
}

.description p {
    margin: 10%;

}

.content {
    display: flex;
    flex-direction: row;
}

.leaderboard {
    text-align: center;
}

.content h4 {
    font-size: 150%;
    margin-bottom: 2.5%;
    text-align: center;
}

.lists {
    margin-right: 2.5%;
}

.leaderboard ul, .accolades ul, .schedule ul {
    list-style: none;
    width: 100%;
    font-family: "Kumbh Sans", sans-serif;
    text-align: center;
}

.leaderboard li, .accolades li, .schedule li {
    margin: 10%;
}

.leaderboard ul {
    background: #696969;
}

.schedule ul {
    background: white;
}

.leaderboard li {
    margin: 5px;
    font-size: 150%;
}

.accolades {
    text-align: center;
    margin: 10%;
}

/* Styles for the join section*/

#join {
    background: #586267;
}

.input {
    width: 95%;
    height: 35px;
    margin: 5px 0 20px 2.5%;
    background: #D9D9D9;
    font-family: "Kumbh Sans", sans-serif;
}

#join label {
    font-size: 150%;
    font-family: "Koulen", sans-serif;
    margin-left: 2.5%;
}

.join_button {
    width: 60%;
    font-family: "Koulen", sans-serif;
    margin-left: 20%;
    background: #D9D9D9;
    height: 40px;
    font-size: 150%;
    margin: 5px 0 20px 20%;
}

/*Styles for the contact section*/

#contact {
    background: #EBA8A8;
    text-align: center;
}

#contact h2, #contact h3 {
    margin-bottom: 5%;
}

.links {
    font-size: 500%;
}

.links a {
    color: black;
}

/* Media query styles for larger screens */

@media screen and (min-width: 768px) {

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        left: 60%;
        background: #5F6758;
    }

    nav a {
        color: black;
    }

    .nav-toggle-label {
        display: none;
    }

}
/*Media queries for smaller screens*/

@media screen and (max-width:576px) {
    
    .content {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    
    .description, .accolades, .about-club, .lists {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .lists {
        margin-right: 0
    }
}