@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Kreon:wght@300..700&family=Kumbh+Sans:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, nav {
    font-family: "Koulen", sans-serif;
}

h1 {
    margin-left: 30px;
    height: 10px;
}

p {
    font-family: "Kumbh Sans", sans-serif;
}

header {
    background: #D9D9D9;
}

nav {
    display: flex;

}

nav ul {
    display: flex;
    margin-left: 65%;
    list-style: none;
}

nav li {
    padding-left: 15px;
    font-size: 160%;
}

#home {
    background: #5F6758;
    display: flex;
    flex-direction: column;
}

.image {
    margin: 35px;
    margin-top: 10%;
    display: inline-block;
    vertical-align: middle;

}

.image img {
    height: 90%;
    width: 100%;
}

.text {
    text-align: center;
    margin: 45px;
    word-wrap: break-word;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

#about {
    background: #EADBC4;
}

h2 {
    text-align: center;
    font-size: 200%;
}

.about-club {
    width: 50%;
    margin-left: 10%;
    margin-right: 2.5%;
}

.about li{
    font-family: "Kumbh Sans", sans-serif;
}

.description p {
    margin: 10%;

}

.content {
    display: flex;
    flex-direction: row;
}

.leaderboard {
    text-align: center;
}

.content h4 {
    font-size: 150%;
    margin-bottom: 2.5%;
    text-align: center;
}

.leaderboard ul, .accolades ul, .schedule ul {
    list-style: none;
    width: 100%;
    font-family: "Kumbh Sans", sans-serif;
}

.leaderboard ul {
    background: #696969;
}

.schedule ul {
    background: white;
}

.leaderboard li, {
    margin: 5px;
    font-size: 150%;
}

.accolades {
    text-align: center;
    margin: 10%;
}

#join {
    background: #586267;
}

.input {
    width: 95%;
    height: 35px;
    margin: 5px 0 20px 2.5%;
    background: #D9D9D9;
    font-family: "Kumbh Sans", sans-serif;
}

label {
    font-size: 150%;
    font-family: "Koulen", sans-serif;
    margin-left: 2.5%;
}

#contact {
    background: #EBA8A8;
    text-align: center;
}

.links {
    font-size: 400%;
    color: black;
}
@media screen and (min-width:576px) {
    
}